@font-face {
	font-family: 'Break Bold';
	src: url('Fonts/BreakBold.ttf') format('truetype'); 
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Break Extra Light';
	src: url('Fonts/BreakExtraLight.ttf') format('truetype'); 
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Break Light';
	src: url('Fonts/BreakLight.ttf') format('truetype'); 
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Break Regular';
	src: url('Fonts/BreakRegular.ttf') format('truetype'); 
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Break Semi Bold';
	src: url('Fonts/BreakSemiBold.ttf') format('truetype'); 
	font-style: normal;
	font-weight: 400;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content { 
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select {
    max-width: 280px;
}*/
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}
h1, .break-bold {
    font-family: 'Break Bold';
}
.navbar-nav {
    font-family: 'Break Bold';
}
.label-normal {
    font-weight: normal;
    width: 100%;
}
.video-container { 
   position: relative; /* keeps the aspect ratio */ 
   padding-bottom: 56.25%; /* fine tunes the video positioning */ 
   padding-top: 60px; overflow: hidden;
   max-width: 700px;
}

.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.paragraph { text-indent: 50px; }

#RememberMe {
    margin-left:0px;
}

.form-group select {
    margin-top:11px;
}

.selectrating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.selectrating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.selectrating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.selectrating:not(:checked) > label:before {
    content: '★ ';
}

.selectrating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.selectrating:not(:checked) > label:hover,
.selectrating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.selectrating > input:checked + label:hover,
.selectrating > input:checked + label:hover ~ label,
.selectrating > input:checked ~ label:hover,
.selectrating > input:checked ~ label:hover ~ label,
.selectrating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.selectrating > label:active {
    position:relative;
    top:2px;
    left:2px;
}